@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
section {
  height:90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  backdrop-filter: blur(500px);

}
.container1{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  transform: scale(1);
}
.container1 .title{
  position: relative;
  text-align: center;
  letter-spacing: 1.5px;
}
.container1 .title::before{
  content: "";
  position: absolute;
  left: 180px;
  bottom: 0;
  height: 2px;
  width: 60px;
  border-radius: 5px;
  background: linear-gradient(135deg, #4CAF50,#4CAF50);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box input{
  height: 35px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  letter-spacing: 1.5px;
  font-family: "poppins";
  font-style: normal;
}
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
form .last_input_box input{
  height: 35px;
  width: 50%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  margin-top: -5px;
  margin-left: 140px;
  letter-spacing: 1.5px;
  font-family: "poppins";
  font-style: normal;
  
}
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 25%;
   border-radius: 5px;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1.5px;
   cursor: pointer;
   transition: all 0.3s ease;
   border: 1px solid #ccc;
   background-color: #8bb33c;
   margin-left: 220px;
   
   
 }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  form .last_input_box input{
    margin-left: 0px;
    width: 100%;
  }
  
  form .button input{
    margin-left: 100px;
    width: 100px;
  }

  .container1 .title::before{
    content: "";
    position: absolute;
    left: 2px;
    bottom: 0;
    height: 2px;
    width: 60px;
    border-radius: 5px;
    background: linear-gradient(135deg, #4CAF50,#4CAF50);
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
