@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*{
    font-family: Poppins;
}
section {
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text content */
    margin-top: 20px;
    margin-bottom: 70px;
    min-height: 40vh;
  }
  h1 {
    position: relative;
}

 h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 60px;
  background: linear-gradient(135deg, #4CAF50, #4CAF50);
}
.search-container {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 30px auto;
}

#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #317034;
    border-radius: 5px 0 0 5px;
}

#searchButton {
    background-color: #8bb33c;
    color: white;
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

/* #searchButton:hover {
    background-color:white;
} */


.info {
    margin-top: 0;
    text-align: justify;
    width: 60%; 
  }
  
  .info ul li {
    margin-top: 5px;
  }
  
  a {
    text-decoration: none;
  }


/* footer */
.footer{
    position: relative;
}