@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/* *{
  outline:red solid 1px !important;
} */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* ===== Custom Styling ===== */

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: #6a3a1d;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: #baf64b;
  border: 0.1em solid #6a3a1d;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8cb53d;
}

/* CAROUSEL SECTION */
.carousel .slide {
  min-height: 85vh;
  background-size: cover !important;
  background-position: center !important;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
}

.swiper-pagination-bullet {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background: #fff;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #6a3a1d;
}

/* SERVICES SECTION */
.container {
  padding: 2em;
  width: 100%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

.heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 0.1rem;
  width: 100% !important;
  background: #8cb53d;
  z-index: -1;
}

.heading span {
  background: #fff;
  padding-inline: 1rem;
  font-size: 2rem;
  color: #6a3a1d;
  text-transform: capitalize;
}

.row {
  display: flex;
  justify-content: center;
  column-gap: 5em;
  row-gap: 1em;
  flex-wrap: wrap;
}

.card {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-size: cover;
  padding: 10rem 0 0;
  width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: scale 500ms ease;
}

.card:hover,
.card:focus-within {
  scale: 1.05;
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(20 50% 20% / 0),
    hsl(20 50% 20% / 0.3) 20%,
    hsl(20 50% 20% / 1)
  );
}

.card-title {
  position: relative;
  width: max-content;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: #baf64b;
  transform-origin: left;
  transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-body {
  color: rgb(255 255 255 / 0.85);
  font-family: "Times New Roman", Times, serif;
}

.card .button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #000;
  background-color: #baf64b;
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  margin-top: 1em;
  font-size: 0.8rem;
}

.card .button:hover,
.card .button:focus {
  background-color: white;
  color: #6a3a1d;
}

/* TUTORIAL SECTION */
.tutorial .heading {
  margin-bottom: 2rem;
}

iframe {
  transition: scale 150ms ease-in;
}

iframe:hover {
  scale: 1.05;
}

/* TESTIMONIAL SECTION */
.testimonials .container {
  /* max-width: 1170px; */
  margin-inline: auto;
  padding-inline: 15px;
}

/* testimonials */
.testimonials .heading {
  margin-bottom: 0;
}

.testimonials-item {
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  padding: 30px;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
}

.testimonials-item .info {
  display: flex;
  align-items: center;
}

.testimonials-item img {
  max-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}

.testimonials-item .name {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 700;
  color: #6a3a1d;
  line-height: 1.2;
}

.testimonials-item .job {
  text-transform: capitalize;
  color: #000;
  opacity: 0.7;
  font-family: "Times New Roman", Times, serif;
}

.testimonials-item p {
  margin-top: 20px;
  color: #24262b;
}

.testimonials-item .rating {
  margin-top: 15px;
  font-size: 14px;
  color: hsl(36 88% 66%);
}

.testimonials .swiper-pagination {
  position: relative;
  margin-top: 40px;
  bottom: auto;
}

.testimonials .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: #000 !important;
}

.testimonials .swiper-pagination-bullet-active {
  background-color: #8cb53d !important;
}

/* FAQ SECTION */
.faqs.container {
  margin-bottom: 5em;
}

.faq-wrapper {
  width: 80%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #8cb53d;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1.8rem;
  color: #6a3a1d;
}

.answer {
  max-height: 0;
  transition: max-height 1.4s ease;
  overflow: hidden;
}

.answer p {
  padding-top: 1rem;
  font-size: 1rem;
  color: #24262b;
  font-family: "Poppins", sans-serif;
}

.faq.active .answer {
  max-height: fit-content;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  rotate: 180deg;
}

svg {
  transition: rotate 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ====== Media Queries =====*/

@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }

  .card:hover .card-content,
  .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .card:focus-within .card-content {
    transition-duration: 0ms;
  }

  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .card:hover .card-content > *:not(.card-title),
  .card:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 1000ms;
  }

  .card-title::after {
    transform: scaleX(0);
  }
}

@media (max-width: 1280px) {
  .services .row {
    column-gap: 1em;
  }
}

@media (max-width: 1048px) {
  .logo {
    width: 5em;
  }

  nav {
    margin-inline-end: 2em;
  }

  .dropdown-content {
    top: calc(100% + 1.8rem);
  }
}

@media (max-width: 850px) {
  .logo {
    width: 4em;
  }

  .hamburger {
    display: block;
  }

  nav {
    display: flex;
    margin: 0;
    position: fixed;
    background: #ffff;
    top: 60px;
    right: -100%;
    width: 100vw;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;
    outline: 2px solid rgba(0, 0, 0, 0.3);
    padding-block: 2em;
    transition: right 0.5s ease-in-out;
    z-index: 1;
  }

  nav ul {
    flex-direction: column;
    gap: 2em;
    align-items: center;
  }

  .dropdown {
    text-align: center;
  }

  .dropdown-content {
    position: absolute;
    padding: 1.25rem 1.25rem;
    border-radius: 5px;
    pointer-events: none;
    z-index: 99;
  }

  .dropdown.active > a + .dropdown-content {
    position: static;
    margin-top: 1em;
  }

  .carousel {
    z-index: -1;
  }
}

