{% extends 'layout.html' %}
{% block title %}
    Result
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'Assets/styles/identification result.css')}}">
    <script src="{{ url_for('static', filename = 'Assets/scripts/disease_identification.js')}}"></script>
{% endblock %}



{% block content %}
<section>
    <h1>IDENTIFIED DISEASE & ITS CURE</h1>

    
    {% if identification_data %}
    <div class="img">
        <ul>
            <li><img src="{{ url_for('get_image', filename=usr_image)}}" alt="User image" class="user-image">
            </li>
            <li><strong>Disease: </strong>{{  result}}</li>
        </ul>
        
       
    </div>
    
    <div class="info">
        <ul>
            <li><strong>Disease Description:</strong> {{ identification_data.disease_description }}</li>
            <li><strong>Cure:</strong> {{ identification_data.cure_description }}</li>
        </ul>
    </div>
    {% endif %}

    {% if common_disease %}
    <div class="img">
        <ul>
            <li><img src="{{ url_for('get_image', filename=usr_image)}}" alt="User image" class="user-image"></li>
            <li><strong>Your plant is:</strong>{{ result}}</li>
        </ul>
    </div>

    <div class="info">
        <ul>
            <li><strong>Disease Susceptibility:</strong> {{ common_disease.diseases_susceptibility }}</li>
        </ul>
    </div>
    {% endif %}


    <!-- <p><a href="/">Back to Home</a></p> -->
</section>
{% endblock %}